<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team" >
  <resultMap id="TeamMap" type="com.liuht.api.common.domain.Team" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="TeamUserMap" type="com.liuht.api.common.domain.TeamUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="teamId" property="teamid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="teamUserType" property="teamusertype" jdbcType="CHAR" />
  </resultMap>
  <sql id="Team_Column_List" >
    id, name, description, userId, createTime, status
  </sql>
  <!-- 查询我创建的团队 -->
  <select id="getMyTeams" resultMap="TeamMap" parameterType="integer">
      select
      	<include refid="Team_Column_List"></include>
      from team
      where
      	userId = #{value,jdbcType=INTEGER}
  </select>
  <select id="selectCountByName" resultType="integer" parameterType="java.lang.String" >
    select 
    	count(1)
    from team
    where name = #{value,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteTeamUser" parameterType="com.liuht.api.common.domain.TeamUser">
  	delete from team_user
    where teamId = #{teamid,jdbcType=INTEGER}
    and userId = #{userid,jdbcType=INTEGER}
  </delete>
  
  <!-- 新增团队成员 -->
  <insert id="insertTeamUser" parameterType="com.liuht.api.common.domain.TeamUser">
    insert into team_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teamid != null" >
        teamId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      createTime,
      <if test="teamusertype != null" >
        teamUserType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teamid != null" >
        #{teamid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      now(),
      <if test="teamusertype != null" >
        #{teamusertype,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <!-- 新增团队 -->
  <insert id="insertTeam" parameterType="com.liuht.api.common.domain.Team" useGeneratedKeys="true" keyProperty="id">
    insert into team
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      createTime,
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      now(),
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>