<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuht.api.common.domain.dao.EnvironmentsListMapper" >
  <resultMap id="BaseResultMap" type="com.liuht.api.common.domain.EnvironmentsList" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="envId" property="envid" jdbcType="INTEGER" />
    <result column="paramName" property="paramname" jdbcType="VARCHAR" />
    <result column="paramValue" property="paramvalue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, envId, paramName, paramValue
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from environments_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from environments_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liuht.api.common.domain.EnvironmentsList" >
    insert into environments_list (id, envId, paramName, 
      paramValue)
    values (#{id,jdbcType=INTEGER}, #{envid,jdbcType=INTEGER}, #{paramname,jdbcType=VARCHAR}, 
      #{paramvalue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liuht.api.common.domain.EnvironmentsList" >
    insert into environments_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="envid != null" >
        envId,
      </if>
      <if test="paramname != null" >
        paramName,
      </if>
      <if test="paramvalue != null" >
        paramValue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="envid != null" >
        #{envid,jdbcType=INTEGER},
      </if>
      <if test="paramname != null" >
        #{paramname,jdbcType=VARCHAR},
      </if>
      <if test="paramvalue != null" >
        #{paramvalue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liuht.api.common.domain.EnvironmentsList" >
    update environments_list
    <set >
      <if test="envid != null" >
        envId = #{envid,jdbcType=INTEGER},
      </if>
      <if test="paramname != null" >
        paramName = #{paramname,jdbcType=VARCHAR},
      </if>
      <if test="paramvalue != null" >
        paramValue = #{paramvalue,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liuht.api.common.domain.EnvironmentsList" >
    update environments_list
    set envId = #{envid,jdbcType=INTEGER},
      paramName = #{paramname,jdbcType=VARCHAR},
      paramValue = #{paramvalue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>