<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuht.api.common.domain.dao.InterfaceMapper" >
  <resultMap id="BaseResultMap" type="com.liuht.api.common.domain.Interface" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="folderId" property="folderid" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="requestMethod" property="requestmethod" jdbcType="VARCHAR" />
    <result column="contentType" property="contenttype" jdbcType="VARCHAR" />
    <result column="requestRootElement" property="requestrootelement" jdbcType="VARCHAR" />
    <result column="responseRootElement" property="responserootelement" jdbcType="VARCHAR" />
    <result column="moduleId" property="moduleid" jdbcType="INTEGER" />
    <result column="projectId" property="projectid" jdbcType="INTEGER" />
    <result column="lastUpdateTime" property="lastupdatetime" jdbcType="TIMESTAMP" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="dataType" property="datatype" jdbcType="VARCHAR" />
    <result column="protocol" property="protocol" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.liuht.api.common.domain.InterfaceWithBLOBs" extends="BaseResultMap" >
    <result column="example" property="example" jdbcType="LONGVARCHAR" />
    <result column="requestHeaders" property="requestheaders" jdbcType="LONGVARCHAR" />
    <result column="requestArgs" property="requestargs" jdbcType="LONGVARCHAR" />
    <result column="responseArgs" property="responseargs" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, description, folderId, url, requestMethod, contentType, requestRootElement, 
    responseRootElement, moduleId, projectId, lastUpdateTime, createTime, dataType, protocol, 
    status
  </sql>
  <sql id="Blob_Column_List" >
    example, requestHeaders, requestArgs, responseArgs
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from interface
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from interface
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liuht.api.common.domain.InterfaceWithBLOBs" >
    insert into interface (id, name, description, 
      folderId, url, requestMethod, 
      contentType, requestRootElement, responseRootElement, 
      moduleId, projectId, lastUpdateTime, 
      createTime, dataType, protocol, 
      status, example, requestHeaders, 
      requestArgs, responseArgs)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{folderid,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{requestmethod,jdbcType=VARCHAR}, 
      #{contenttype,jdbcType=VARCHAR}, #{requestrootelement,jdbcType=VARCHAR}, #{responserootelement,jdbcType=VARCHAR}, 
      #{moduleid,jdbcType=INTEGER}, #{projectid,jdbcType=INTEGER}, #{lastupdatetime,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP}, #{datatype,jdbcType=VARCHAR}, #{protocol,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{example,jdbcType=LONGVARCHAR}, #{requestheaders,jdbcType=LONGVARCHAR}, 
      #{requestargs,jdbcType=LONGVARCHAR}, #{responseargs,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liuht.api.common.domain.InterfaceWithBLOBs" >
    insert into interface
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="folderid != null" >
        folderId,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="requestmethod != null" >
        requestMethod,
      </if>
      <if test="contenttype != null" >
        contentType,
      </if>
      <if test="requestrootelement != null" >
        requestRootElement,
      </if>
      <if test="responserootelement != null" >
        responseRootElement,
      </if>
      <if test="moduleid != null" >
        moduleId,
      </if>
      <if test="projectid != null" >
        projectId,
      </if>
      <if test="lastupdatetime != null" >
        lastUpdateTime,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="datatype != null" >
        dataType,
      </if>
      <if test="protocol != null" >
        protocol,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="example != null" >
        example,
      </if>
      <if test="requestheaders != null" >
        requestHeaders,
      </if>
      <if test="requestargs != null" >
        requestArgs,
      </if>
      <if test="responseargs != null" >
        responseArgs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="folderid != null" >
        #{folderid,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="requestmethod != null" >
        #{requestmethod,jdbcType=VARCHAR},
      </if>
      <if test="contenttype != null" >
        #{contenttype,jdbcType=VARCHAR},
      </if>
      <if test="requestrootelement != null" >
        #{requestrootelement,jdbcType=VARCHAR},
      </if>
      <if test="responserootelement != null" >
        #{responserootelement,jdbcType=VARCHAR},
      </if>
      <if test="moduleid != null" >
        #{moduleid,jdbcType=INTEGER},
      </if>
      <if test="projectid != null" >
        #{projectid,jdbcType=INTEGER},
      </if>
      <if test="lastupdatetime != null" >
        #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="datatype != null" >
        #{datatype,jdbcType=VARCHAR},
      </if>
      <if test="protocol != null" >
        #{protocol,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="example != null" >
        #{example,jdbcType=LONGVARCHAR},
      </if>
      <if test="requestheaders != null" >
        #{requestheaders,jdbcType=LONGVARCHAR},
      </if>
      <if test="requestargs != null" >
        #{requestargs,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseargs != null" >
        #{responseargs,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liuht.api.common.domain.InterfaceWithBLOBs" >
    update interface
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="folderid != null" >
        folderId = #{folderid,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="requestmethod != null" >
        requestMethod = #{requestmethod,jdbcType=VARCHAR},
      </if>
      <if test="contenttype != null" >
        contentType = #{contenttype,jdbcType=VARCHAR},
      </if>
      <if test="requestrootelement != null" >
        requestRootElement = #{requestrootelement,jdbcType=VARCHAR},
      </if>
      <if test="responserootelement != null" >
        responseRootElement = #{responserootelement,jdbcType=VARCHAR},
      </if>
      <if test="moduleid != null" >
        moduleId = #{moduleid,jdbcType=INTEGER},
      </if>
      <if test="projectid != null" >
        projectId = #{projectid,jdbcType=INTEGER},
      </if>
      <if test="lastupdatetime != null" >
        lastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="datatype != null" >
        dataType = #{datatype,jdbcType=VARCHAR},
      </if>
      <if test="protocol != null" >
        protocol = #{protocol,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="example != null" >
        example = #{example,jdbcType=LONGVARCHAR},
      </if>
      <if test="requestheaders != null" >
        requestHeaders = #{requestheaders,jdbcType=LONGVARCHAR},
      </if>
      <if test="requestargs != null" >
        requestArgs = #{requestargs,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseargs != null" >
        responseArgs = #{responseargs,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.liuht.api.common.domain.InterfaceWithBLOBs" >
    update interface
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      folderId = #{folderid,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      requestMethod = #{requestmethod,jdbcType=VARCHAR},
      contentType = #{contenttype,jdbcType=VARCHAR},
      requestRootElement = #{requestrootelement,jdbcType=VARCHAR},
      responseRootElement = #{responserootelement,jdbcType=VARCHAR},
      moduleId = #{moduleid,jdbcType=INTEGER},
      projectId = #{projectid,jdbcType=INTEGER},
      lastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      dataType = #{datatype,jdbcType=VARCHAR},
      protocol = #{protocol,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      example = #{example,jdbcType=LONGVARCHAR},
      requestHeaders = #{requestheaders,jdbcType=LONGVARCHAR},
      requestArgs = #{requestargs,jdbcType=LONGVARCHAR},
      responseArgs = #{responseargs,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liuht.api.common.domain.Interface" >
    update interface
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      folderId = #{folderid,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      requestMethod = #{requestmethod,jdbcType=VARCHAR},
      contentType = #{contenttype,jdbcType=VARCHAR},
      requestRootElement = #{requestrootelement,jdbcType=VARCHAR},
      responseRootElement = #{responserootelement,jdbcType=VARCHAR},
      moduleId = #{moduleid,jdbcType=INTEGER},
      projectId = #{projectid,jdbcType=INTEGER},
      lastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      dataType = #{datatype,jdbcType=VARCHAR},
      protocol = #{protocol,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>