<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuht.api.common.domain.dao.TeamUserMapper" >
  <resultMap id="BaseResultMap" type="com.liuht.api.common.domain.TeamUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="teamId" property="teamid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="teamUserType" property="teamusertype" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, teamId, userId, createTime, teamUserType
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from team_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from team_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liuht.api.common.domain.TeamUser" >
    insert into team_user (id, teamId, userId, 
      createTime, teamUserType)
    values (#{id,jdbcType=INTEGER}, #{teamid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{teamusertype,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liuht.api.common.domain.TeamUser" >
    insert into team_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="teamid != null" >
        teamId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="teamusertype != null" >
        teamUserType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="teamid != null" >
        #{teamid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="teamusertype != null" >
        #{teamusertype,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liuht.api.common.domain.TeamUser" >
    update team_user
    <set >
      <if test="teamid != null" >
        teamId = #{teamid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="teamusertype != null" >
        teamUserType = #{teamusertype,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liuht.api.common.domain.TeamUser" >
    update team_user
    set teamId = #{teamid,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      teamUserType = #{teamusertype,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>