@CHARSET "UTF-8";
html,body{ background-color: rgb(248,246,242); }
.logo{ background-image: url(../image/logo.png);background-repeat: no-repeat;height: 200px;background-size:260px 72px;background-position: center center; }