<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinhai.api.common.domain.dao.InterfaceWSMapper" >
  <resultMap id="BaseResultMap" type="com.yinhai.api.common.domain.InterfaceWS" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="apiId" property="apiid" jdbcType="INTEGER" />
    <result column="targetNamespace" property="targetnamespace" jdbcType="VARCHAR" />
    <result column="endpointAddress" property="endpointaddress" jdbcType="VARCHAR" />
    <result column="methodName" property="methodname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, apiId, targetNamespace, endpointAddress, methodName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from interface_ws
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from interface_ws
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yinhai.api.common.domain.InterfaceWS" >
    insert into interface_ws (id, apiId, targetNamespace, 
      endpointAddress, methodName)
    values (#{id,jdbcType=INTEGER}, #{apiid,jdbcType=INTEGER}, #{targetnamespace,jdbcType=VARCHAR}, 
      #{endpointaddress,jdbcType=VARCHAR}, #{methodname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yinhai.api.common.domain.InterfaceWS" >
    insert into interface_ws
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="apiid != null" >
        apiId,
      </if>
      <if test="targetnamespace != null" >
        targetNamespace,
      </if>
      <if test="endpointaddress != null" >
        endpointAddress,
      </if>
      <if test="methodname != null" >
        methodName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="apiid != null" >
        #{apiid,jdbcType=INTEGER},
      </if>
      <if test="targetnamespace != null" >
        #{targetnamespace,jdbcType=VARCHAR},
      </if>
      <if test="endpointaddress != null" >
        #{endpointaddress,jdbcType=VARCHAR},
      </if>
      <if test="methodname != null" >
        #{methodname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yinhai.api.common.domain.InterfaceWS" >
    update interface_ws
    <set >
      <if test="apiid != null" >
        apiId = #{apiid,jdbcType=INTEGER},
      </if>
      <if test="targetnamespace != null" >
        targetNamespace = #{targetnamespace,jdbcType=VARCHAR},
      </if>
      <if test="endpointaddress != null" >
        endpointAddress = #{endpointaddress,jdbcType=VARCHAR},
      </if>
      <if test="methodname != null" >
        methodName = #{methodname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yinhai.api.common.domain.InterfaceWS" >
    update interface_ws
    set apiId = #{apiid,jdbcType=INTEGER},
      targetNamespace = #{targetnamespace,jdbcType=VARCHAR},
      endpointAddress = #{endpointaddress,jdbcType=VARCHAR},
      methodName = #{methodname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>