<html>
<body>
<p>$username您好,欢迎使用apimanager接口管理系统</p>
<p>请点击此链接修改您的密码:</p>
<p><a href="$url" target="_blank">$url</a></p>
----------------------------------------
<p>apimanager和您一同成长，感谢您的注册！</p>
<p></p>
</body>
</html>