<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd   
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-4.2.xsd">
    
  <bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">  
         <property name="username" value="${mail.username}"/>  
         <property name="password" value="${mail.password}"/>  
           
         <!-- 邮箱属性设置 -->  
         <property name="javaMailProperties">  
            <props>  
                <prop key="mail.smtp.host">${mail.smtp.host}</prop>  
                <!-- 简单邮件传输协议许可 -->  
                <prop key="mail.smtp.auth">${mail.smtp.auth}</prop>  
                <prop key="mail.debug">${mail.debug}</prop>  
                <prop key="mail.smtp.timeout">${mail.smtp.timeout}</prop>
                <!-- 开启ssl -->  
              	<prop key="mail.smtp.ssl.enable">${mail.smtp.ssl.enable}</prop>
                <!-- SMTP加密方式 tls -->  
                <prop key="mail.smtp.starttls.enable">${mail.smtp.starttls.enable}</prop>  
            </props>  
         </property>  
    </bean>  
      
    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">  
       <property name="velocityProperties">  
          <value>  
             resource.loader=class  
             class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader  
             input.encoding=UTF-8
			 output.encoding=UTF-8
          </value>  
       </property>  
    </bean> 
</beans>